@import '~node_modules/modern-normalize/modern-normalize.css';

.section {
  @media screen and (min-width: 768px) {
    padding-bottom: 40px;
  }

  @media screen and (min-width: 1360px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.section-pretitle {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.39;
  }
}

.section-title {
  margin-bottom: 24px;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 40px;
    line-height: 1.35;
  }
}

.section-desc {
  font-size: 16px;
  line-height: 1.38;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    font-size: inherit;
    line-height: inherit;
  }
}

.button-accent {
  @extend %button;

  color: inherit;
  background-color: $accentColor;
  @include transitioned(background-color);

  &:hover,
  &:focus {
    background-color: $accentColorOnHover;
  }
}

.button-transparent {
  @extend %button;

  border: 1px solid $bgColorPrimary;
  color: $textColorPrimary;

  transition: all 300ms $transition;
}
