@import '~node_modules/modern-normalize/modern-normalize.css';

.section {
  @media screen and (min-width: 768px) {
    padding-bottom: 40px;
  }

  @media screen and (min-width: 1360px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.section-pretitle {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.39;
  }
}

.section-title {
  margin-bottom: 24px;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 40px;
    line-height: 1.35;
  }
}

.section-desc {
  font-size: 16px;
  line-height: 1.38;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    font-size: inherit;
    line-height: inherit;
  }
}

.button-accent {
  @extend %button;

  color: inherit;
  background-color: $accentColor;
  @include transitioned(background-color);

  &:hover,
  &:focus {
    background-color: $accentColorOnHover;
  }
}

.button-transparent {
  @extend %button;

  border: 1px solid $bgColorPrimary;
  color: $textColorPrimary;

  transition: all 300ms $transition;
}

.sl-wrapper .sl-navigation {
  display: flex;
  align-items: center;
}

.sl-wrapper .sl-navigation button {
  width: 200px;
  height: 200px;

  color: transparent;
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;

  @include transitioned(all);

  &:hover,
  &:focus {
    opacity: 1;
  }

  &.sl-next {
    transform: translate(-50%, -50%);
    background-image: url('../../src/images/next.png');
  }

  &.sl-prev {
    transform: translate(50%, -50%);
    background-image: url('../../src/images/prev.png');
  }
}

.sl-wrapper > .sl-close {
  margin-top: auto;
  width: 200px;
  height: 200px;
  bottom: 70px !important;
  right: 0 !important;
  left: 50%;
  transform: translate(-50%);

  color: transparent;
  background-image: url('../../src/images/close.png');
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0 !important;

  @include transitioned(opacity);

  &:hover,
  &:focus {
    opacity: 1 !important;
  }
}
