.page {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: normal;
  font-size: 18px;
  line-height: 1.39;

  background-color: $bgColorPrimary;
  color: $textColorPrimary;
}
