@mixin media($width, $property: min-width) {
  @media screen and ($property: $width) {
    @content;
  }
}

@mixin retina2 {
  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @content;
  }
}

@mixin centeredFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin transitioned($property) {
  transition: $property 300ms $transition;
}

@mixin transitionedSlowly($property) {
  transition: $property 700ms $transition;
}
