%list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

%button {
  @include centeredFlex;
  padding: 16px 32px;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.38;
  font-weight: inherit;
  border-radius: 5px;

  @media screen and (min-width: 768px) {
    font-size: inherit;
    line-height: inherit;
  }
}

%visually-hidden {
  position: fixed;
  transform: scale(0);
}
