$accentColor: #28a745;
$accentColorOnHover: #2ebf4f;
$accentColorSecondary: #0284d0;

$bgColorPrimary: #fff;
$bgColorSecondary: #f4f4f4;

$textColorPrimary: #fff;
$textColorSecondary: #333333;
$textColorPlaceholder: #808080;

$transition: cubic-bezier(0.2, 0, 0.4, 1);
$boxShadow: 0px 2px 3px rgb(0 0 0 / 14%), 0px 2px 5px rgb(0 0 0 / 20%),
  2px 5px 5px rgb(0 0 0 / 15%);
