<section class="about-section section">
  <div class="about-container container">
    <picture>
      <source
        srcset="
          ../src/images/people-desk.webp    1x,
          ../src/images/people-desk@2x.webp 2x
        "
        type="image/webp"
        media="(min-width: 1360px)"
      />
      <source
        srcset="
          ../src/images/people-desk.jpg    1x,
          ../src/images/people-desk@2x.jpg 2x
        "
        media="(min-width: 1360px)"
      />
      <source
        srcset="
          ../src/images/people-tab.webp    1x,
          ../src/images/people-tab@2x.webp 2x
        "
        type="image/webp"
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ../src/images/people-tab.jpg    1x,
          ../src/images/people-tab@2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ../src/images/people-mobile.webp    1x,
          ../src/images/people-mobile@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        srcset="
          ../src/images/people-mobile.jpg    1x,
          ../src/images/people-mobile@2x.jpg 2x
        "
        media="(min-width: 768px)"
      />

      <img
        src="../src/images/people-mobile.jpg"
        alt="finance ledger team photo"
        class="about__photo"
      />
    </picture>

    <div class="about__content">
      <p class="about__pretitle section-pretitle">What you are looking for</p>
      <h2 class="about__title section-title">We provide bespoke solutions</h2>

      <p class="about__desc section-desc">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <button type="button" class="about__button button-transparent">
        Read More
      </button>
    </div>
  </div>
</section>
