<section class="cases-section section">
  <div class="container">
    <p class="cases__pretitle section-pretitle">This is what we do</p>
    <h2 class="cases__title section-title">
      Business <br />
      Cases
    </h2>
    <p class="cases-desc section-desc">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>

    <ul class="cases__gallery">
      <li class="cases__gallery-item">
        <picture>
          <source
            srcset="
              ../src/images/cases1.webp    1x,
              ../src/images/cases1@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="../src/images/cases1.jpg 1x, ../src/images/cases1@2x.jpg 2x"
          />

          <img
            src="../src/images/cases1.jpg"
            alt="finance ledger team photo"
            class="cases__gallery-photo"
          />
        </picture>
      </li>
      <li class="cases__gallery-item">
        <picture>
          <source
            srcset="
              ../src/images/cases2.webp    1x,
              ../src/images/cases2@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="../src/images/cases2.jpg 1x, ../src/images/cases2@2x.jpg 2x"
          />

          <img
            src="../src/images/cases2.jpg"
            alt="finance ledger team photo"
            class="cases__gallery-photo"
          />
        </picture>
      </li>
      <li class="cases__gallery-item">
        <picture>
          <source
            srcset="
              ../src/images/cases3.webp    1x,
              ../src/images/cases3@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="../src/images/cases3.jpg 1x, ../src/images/cases3@2x.jpg 2x"
          />

          <img
            src="../src/images/cases3.jpg"
            alt="finance ledger team photo"
            class="cases__gallery-photo"
          />
        </picture>
      </li>
      <li class="cases__gallery-item">
        <picture>
          <source
            srcset="
              ../src/images/cases4.webp    1x,
              ../src/images/cases4@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="../src/images/cases4.jpg 1x, ../src/images/cases4@2x.jpg 2x"
          />

          <img
            src="../src/images/cases4.jpg"
            alt="finance ledger team photo"
            class="cases__gallery-photo"
          />
        </picture>
      </li>
      <li class="cases__gallery-item">
        <picture>
          <source
            srcset="
              ../src/images/cases5.webp    1x,
              ../src/images/cases5@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="../src/images/cases5.jpg 1x, ../src/images/cases5@2x.jpg 2x"
          />

          <img
            src="../src/images/cases5.jpg"
            alt="finance ledger team photo"
            class="cases__gallery-photo"
          />
        </picture>
      </li>
      <li class="cases__gallery-item">
        <picture>
          <source
            srcset="
              ../src/images/cases6.webp    1x,
              ../src/images/cases6@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="../src/images/cases6.jpg 1x, ../src/images/cases6@2x.jpg 2x"
          />

          <img
            src="../src/images/cases6.jpg"
            alt="finance ledger team photo"
            class="cases__gallery-photo"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
