<section class="contact-section section" id="contact">
  <div class="container">
    <img src="../src/images/contact.jpg" alt="contact manager photo" />

    <h2 class="contact-section__title section-title">Request Callback</h2>
    <form class="contact-form">
      <div class="contact-form__wrap">
        <label class="contact-form__field contact-form__field--name">
          <input
            class="contact-form__input"
            name="name"
            type="text"
            placeholder="Enter your name"
          />
          <!-- <span class="contact-form__label">Enter your name</span> -->
        </label>

        <label class="contact-form__field contact-form__field--email">
          <input
            class="contact-form__input"
            type="email"
            name="email"
            placeholder="Enter email*"
          />
          <!-- <span class="contact-form__label">Enter email*</span> -->
        </label>
      </div>
    </form>

    <button class="contact__button button-accent" type="submit">Send</button>
  </div>
</section>
