<section class="contact-section section" id="contact">
  <div class="container contact__container">
    <div class="contact__photo-wrapper photo-wrapper">
      <picture>
        <source
          srcset="
            ../src/images/contact-desktop.webp    1x,
            ../src/images/contact-desktop@2x.webp 2x
          "
          type="image/webp"
          media="(min-width: 1360px)"
        />
        <source
          srcset="
            ../src/images/contact-desktop.jpg    1x,
            ../src/images/contact-desktop@2x.jpg 2x
          "
          media="(min-width: 1360px)"
        />
        <source
          srcset="
            ../src/images/contact-tablet.webp    1x,
            ../src/images/contact-tablet@2x.webp 2x
          "
          type="image/webp"
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ../src/images/contact-tablet.jpg    1x,
            ../src/images/contact-tablet@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ../src/images/contact-mobile.webp    1x,
            ../src/images/contact-mobile@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          srcset="
            ../src/images/contact-mobile.jpg    1x,
            ../src/images/contact-mobile@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />

        <img
          src="../src/images/contact-mobile.jpg"
          alt="finance ledger contact manager photo"
          class="contact__photo photo-wrapper__inner-photo"
        />
      </picture>
    </div>

    <div class="contact__content">
      <h2 class="contact__title section-title">Request Callback</h2>
      <form
        class="contact-form js-form"
        data-netlify="true"
        name="contact"
        method="post"
      >
        <label
          class="contact-form__field contact-form__field--name"
          aria-label="input for your name"
        >
          <input
            class="contact-form__input contact-form__input-name"
            name="name"
            type="text"
            placeholder=" "
          />
          <span class="contact-form__label">Enter your name</span>
        </label>

        <label
          class="contact-form__field contact-form__field--email"
          aria-label="input for your email"
        >
          <input
            class="contact-form__input contact-form__input-email js-form-input-email"
            type="text"
            name="email"
            value=""
            placeholder=" "
            title="Email address must contains symbols '@' and '.'"
          />
          <span class="contact-form__label">Enter email*</span>
          <span class="contact-form__warning-text">
            <svg width="20" height="20" class="contact-form__warning-icon">
              <use href="../src/images/sprite.svg#warning-icon"></use>
            </svg>
            <span class="warning-text">This is a required field</span>
          </span>
        </label>

        <button class="contact__submit-button button-accent" type="submit">
          Send
        </button>
      </form>
    </div>
  </div>
</section>
