<footer class="footer">
  <div class="container">
    <ul class="company-social">
      <li class="company-social__item">
        <a
          href="https://facebook.com/"
          aria-label="facebook link"
          class="company-social__link"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg width="35" height="35" class="company-social__icon">
            <use href="../src/images/sprite.svg#facebook-icon"></use>
          </svg>
        </a>
      </li>

      <li class="company-social__item">
        <a
          href="https://twitter.com/"
          aria-label="twitter link"
          class="company-social__link"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg width="35" height="35" class="company-social__icon">
            <use href="../src/images/sprite.svg#twitter-icon"></use>
          </svg>
        </a>
      </li>

      <li class="company-social__item">
        <a
          href="https://www.youtube.com"
          aria-label="youtube link"
          class="company-social__link"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg width="35" height="35" class="company-social__icon">
            <use href="../src/images/sprite.svg#youtube-icon"></use>
          </svg>
        </a>
      </li>

      <li class="company-social__item">
        <a
          href="https://www.linkedin.com/"
          aria-label="linkedin link"
          class="company-social__link"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg width="35" height="35" class="company-social__icon">
            <use href="../src/images/sprite.svg#linkedin-icon"></use>
          </svg>
        </a>
      </li>
    </ul>

    <p class="footer__copyright">Copyright &copy; 2021 - FinanceLedger</p>
  </div>
</footer>
