<footer class="footer">
  <div class="container">
    <ul class="company-social">
      <li class="company-social__item">
        <a href="" aria-label="facebook link" class="company-social__link">
          <svg width="35" height="35">
            <use href="../src/images/sprite.svg#facebook-icon"></use>
          </svg>
        </a>
      </li>

      <li class="company-social__item">
        <a href="" aria-label="twitter link" class="company-social__link">
          <svg width="35" height="35">
            <use href="../src/images/sprite.svg#twitter-icon"></use>
          </svg>
        </a>
      </li>

      <li class="company-social__item">
        <a href="" aria-label="youtube link" class="company-social__link">
          <svg width="35" height="35">
            <use href="../src/images/sprite.svg#youtube-icon"></use>
          </svg>
        </a>
      </li>

      <li class="company-social__item">
        <a href="" aria-label="linkedin link" class="company-social__link">
          <svg width="35" height="35">
            <use href="../src/images/sprite.svg#linkedin-icon"></use>
          </svg>
        </a>
      </li>
    </ul>

    <p class="footer__copyright">Copyright &copy; 2021 - FinanceLedger</p>
  </div>
</footer>
