<header class="header" id="js-header">
  <div class="container header__container">
    <a href="../src/index.html" class="logo" aria-label="logo">
      <svg width="39" height="35" class="logo__icon">
        <use href="../src/images/sprite.svg#logo-icon"></use>
      </svg>
      Finance
      <span class="logo__part"> Ledger</span>
    </a>

    <nav class="main-nav">
      <ul class="nav">
        <li class="nav__item">
          <a href="../src/index.html" class="nav__link nav__link--current"
            >Home</a
          >
        </li>
        <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
        <li class="nav__item"><a href="#cases" class="nav__link">Cases</a></li>
        <li class="nav__item"><a href="#blog" class="nav__link">Blog</a></li>
        <li class="nav__item">
          <a href="#contact" class="nav__link">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
