<section class="team-section section">
  <div class="container">
    <p class="team__pretitle section-pretitle">Who we are</p>
    <h2 class="team__title section-title">Our Professional Team</h2>
    <p class="team-desc section-desc">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>

    <ul class="team__gallery">
      <li class="team__gallery-item">
        <div class="team__member-thumb">
          <picture>
            <source
              srcset="
                ../src/images/person1.webp    1x,
                ../src/images/person1@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ../src/images/person1.jpg    1x,
                ../src/images/person1@2x.jpg 2x
              "
            />

            <img
              src="../src/images/person1.jpg"
              alt="finance ledger team photo"
              class="team__gallery-photo"
            />
          </picture>

          <div class="team__member-socials__wrap">
            <ul class="member-socials">
              <li class="member-socials__item">
                <a
                  href="https://facebook.com/"
                  aria-label="facebook link"
                  class="company-social__link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                >
                  <svg width="35" height="35" class="member-socials__icon">
                    <use href="../src/images/sprite.svg#facebook-icon"></use>
                  </svg>
                </a>
              </li>

              <li class="member-socials__item">
                <a
                  href="https://twitter.com/"
                  aria-label="twitter link"
                  class="company-social__link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                >
                  <svg width="35" height="35" class="member-socials__icon">
                    <use href="../src/images/sprite.svg#twitter-icon"></use>
                  </svg>
                </a>
              </li>

              <li class="member-socials__item">
                <a
                  href="https://youtube.com/"
                  aria-label="youtube link"
                  class="company-social__link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                >
                  <svg width="35" height="35" class="member-socials__icon">
                    <use href="../src/images/sprite.svg#youtube-icon"></use>
                  </svg>
                </a>
              </li>

              <li class="member-socials__item">
                <a
                  href="https://www.linkedin.com/"
                  aria-label="linkedin link"
                  class="company-social__link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                >
                  <svg width="35" height="35" class="member-socials__icon">
                    <use href="../src/images/sprite.svg#linkedin-icon"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <p class="team__member-name">John Doe</p>
        <p class="team__member-position">President</p>
      </li>

      <li class="team__gallery-item">
        <div class="team__member-thumb">
          <picture>
            <source
              srcset="
                ../src/images/person2.webp    1x,
                ../src/images/person2@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ../src/images/person2.jpg    1x,
                ../src/images/person2@2x.jpg 2x
              "
            />

            <img
              src="../src/images/person2.jpg"
              alt="finance ledger team photo"
              class="team__gallery-photo"
            />
          </picture>

          <div class="team__member-socials__wrap">
            <ul class="member-socials">
              <li class="member-socials__item">
                <a
                  href="https://facebook.com/"
                  aria-label="facebook link"
                  class="company-social__link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                >
                  <svg width="35" height="35" class="member-socials__icon">
                    <use href="../src/images/sprite.svg#facebook-icon"></use>
                  </svg>
                </a>
              </li>

              <li class="member-socials__item">
                <a
                  href="https://twitter.com/"
                  aria-label="twitter link"
                  class="company-social__link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                >
                  <svg width="35" height="35" class="member-socials__icon">
                    <use href="../src/images/sprite.svg#twitter-icon"></use>
                  </svg>
                </a>
              </li>

              <li class="member-socials__item">
                <a
                  href="https://youtube.com/"
                  aria-label="youtube link"
                  class="company-social__link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                >
                  <svg width="35" height="35" class="member-socials__icon">
                    <use href="../src/images/sprite.svg#youtube-icon"></use>
                  </svg>
                </a>
              </li>

              <li class="member-socials__item">
                <a
                  href="https://www.linkedin.com/"
                  aria-label="linkedin link"
                  class="company-social__link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                >
                  <svg width="35" height="35" class="member-socials__icon">
                    <use href="../src/images/sprite.svg#linkedin-icon"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <p class="team__member-name">Jane Doe</p>
        <p class="team__member-position">Vice President</p>
      </li>

      <li class="team__gallery-item">
        <div class="team__member-thumb">
          <picture>
            <source
              srcset="
                ../src/images/person3.webp    1x,
                ../src/images/person3@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ../src/images/person3.jpg    1x,
                ../src/images/person3@2x.jpg 2x
              "
            />

            <img
              src="../src/images/person3.jpg"
              alt="finance ledger team photo"
              class="team__gallery-photo"
            />
          </picture>

          <div class="team__member-socials__wrap">
            <ul class="member-socials">
              <li class="member-socials__item">
                <a
                  href="https://facebook.com/"
                  aria-label="facebook link"
                  class="company-social__link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                >
                  <svg width="35" height="35" class="member-socials__icon">
                    <use href="../src/images/sprite.svg#facebook-icon"></use>
                  </svg>
                </a>
              </li>

              <li class="member-socials__item">
                <a
                  href="https://twitter.com/"
                  aria-label="twitter link"
                  class="company-social__link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                >
                  <svg width="35" height="35" class="member-socials__icon">
                    <use href="../src/images/sprite.svg#twitter-icon"></use>
                  </svg>
                </a>
              </li>

              <li class="member-socials__item">
                <a
                  href="https://youtube.com/"
                  aria-label="youtube link"
                  class="company-social__link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                >
                  <svg width="35" height="35" class="member-socials__icon">
                    <use href="../src/images/sprite.svg#youtube-icon"></use>
                  </svg>
                </a>
              </li>

              <li class="member-socials__item">
                <a
                  href="https://www.linkedin.com/"
                  aria-label="linkedin link"
                  class="company-social__link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                >
                  <svg width="35" height="35" class="member-socials__icon">
                    <use href="../src/images/sprite.svg#linkedin-icon"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <p class="team__member-name">Steve Smith</p>
        <p class="team__member-position">Marketing Head</p>
      </li>
    </ul>
  </div>
</section>
