<section class="team-section section">
  <div class="container">
    <p class="team__pretitle section-pretitle">Who we are</p>
    <h2 class="team__title section-title">Our Professional Team</h2>
    <p class="team-desc section-desc">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>

    <ul class="team__gallery">
      <li class="team__gallery-item">
        <picture>
          <source
            srcset="
              ../src/images/person1.webp    1x,
              ../src/images/person1@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ../src/images/person1.jpg    1x,
              ../src/images/person1@2x.jpg 2x
            "
          />

          <img
            src="../src/images/person1.jpg"
            alt="finance ledger team photo"
            class="team__gallery-photo"
          />
        </picture>

        <p class="team__member-name">John Doe</p>
        <p class="team__member-position">President</p>
      </li>

      <li class="team__gallery-item">
        <picture>
          <source
            srcset="
              ../src/images/person2.webp    1x,
              ../src/images/person2@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ../src/images/person2.jpg    1x,
              ../src/images/person2@2x.jpg 2x
            "
          />

          <img
            src="../src/images/person2.jpg"
            alt="finance ledger team photo"
            class="team__gallery-photo"
          />
        </picture>

        <p class="team__member-name">Jane Doe</p>
        <p class="team__member-position">Vice President</p>
      </li>

      <li class="team__gallery-item">
        <picture>
          <source
            srcset="
              ../src/images/person3.webp    1x,
              ../src/images/person3@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ../src/images/person3.jpg    1x,
              ../src/images/person3@2x.jpg 2x
            "
          />

          <img
            src="../src/images/person3.jpg"
            alt="finance ledger team photo"
            class="team__gallery-photo"
          />
        </picture>

        <p class="team__member-name">Steve Smith</p>
        <p class="team__member-position">Marketing Head</p>
      </li>
    </ul>
  </div>
</section>
