.blog-section {
  padding: 0 0 58px 0;
  text-align: left;
  background-color: $accentColorSecondary;
}

.blog__photo-wrapper {
  height: 247px;
}

.blog__photo {
  object-position: center;
}

.blog__container {
  padding-top: 48px;
}

.blog__pretitle {
  text-align: left;
}

.blog__title {
  text-align: left;
}

.blog__button:hover,
.blog__button:focus {
  background-color: $bgColorPrimary;
  color: $accentColorSecondary;
}
