.contact-section {
  padding: 0 0 25px;
  color: $textColorSecondary;
  background-color: $bgColorSecondary;
}

.contact__container {
  padding-top: 51px;
}

.contact__photo-wrapper {
  position: relative;
  left: -20px;
  top: -51px;
  height: 220px;
  width: 320px;
  max-width: 450px;
}

.contact__photo {
  object-position: center;
}

.contact__title {
  margin-bottom: 69px;
}

.contact-form {
  width: 100%;
}

.contact-form__field {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 1.44;
}

.contact-form__field--name {
  margin-bottom: 16px;
}

.contact-form__input {
  width: 100%;
  padding: 16px 8px;
  border: none;
  border-radius: 5px;
  background-color: $bgColorPrimary;
  color: $accentColorSecondary;
}

.contact-form__input:focus {
  outline: 1px solid $accentColor;
}

.contact-form__input:focus + .contact-form__label,
.contact-form__input:not(:placeholder-shown) + .contact-form__label {
  transform: translateY(-40px);
}

.contact-form__input:focus,
.contact-form__input:not(:placeholder-shown) {
  outline: 1px solid $accentColor;

  &.invalid {
    outline: 1px solid red;
  }
}

.contact-form__field--email {
  margin-bottom: 24px;
}

.contact-form__label {
  position: absolute;
  left: 8px;
  bottom: 13px;

  @include transitioned(all);
}

.contact-form__warning-text {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: -25px;

  color: red;
  opacity: 0;

  @include transitioned(all);

  .contact-form__input-email.invalid ~ & {
    opacity: 1;
  }

  & .warning-text {
    font-size: 14px;
    line-height: 1.2;
  }
}

.contact__submit-button {
  padding: 16px 56px;
  color: $textColorPrimary;
}

@media screen and (min-width: 768px) {
  .contact-section {
    padding: 32px 0 73px;
    display: flex;
  }

  .contact__container {
    position: relative;
    padding-top: 0;
  }

  .contact__content {
    width: 336px;
    margin-left: auto;
  }

  .contact__title {
    margin-bottom: 24px;
    line-height: 1.35;
  }

  .contact__photo-wrapper {
    position: absolute;
    left: -12px;
    top: -32px;
    width: 368px;
    height: 354px;
  }

  .contact-form__input {
    font-size: 18px;
    line-height: 1.39;
  }
}

@media screen and (min-width: 1360px) {
  .contact-section {
    padding: 56px 0 77px;
  }

  .contact__content {
    width: 642px;
    margin-left: auto;
  }

  .contact__title {
    margin-bottom: 31px;
    text-align: left;
    line-height: 1.35;
  }

  .contact-form__field--email {
    margin-bottom: 40px;
  }

  .contact-form__field--name {
    margin-bottom: 25px;
  }

  .contact__photo-wrapper {
    position: absolute;
    left: -12px;
    top: -56px;
    width: 670px;
    max-width: 670px;
    height: 454px;
  }
}
