.footer {
  padding: 20px 0;
  text-align: center;
  background-color: $textColorSecondary;
  color: $textColorPrimary;
}

.company-social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}

.company-social__item:not(:last-child) {
  margin-right: 25px;
}

.company-social__link {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__copyright {
  font-size: 16px;
  line-height: 1.38;
}

@media screen and (min-width: 768px) {
  .footer__copyright {
    font-size: inherit;
    line-height: inherit;
  }
}
