.hero-section {
  padding: 160px 0 104px 0;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('../../src/images/showcase-mobile.jpg');
  // background-image: -webkit-image-set(
  //   url('../../src/images/showcase-mobile.webp') 1x
  // );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;

  @include retina2 {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url('../../src/images/showcase-mobile@2x.jpg');
    // background-image: -webkit-image-set(
    //   url('../../src/images/showcase-mobile@2x.webp') 2x
    // );
  }
}

.hero__title {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.35;
  text-align: center;
}

.hero__desc {
  margin-bottom: 24px;
  font-size: 26px;
  line-height: 1.23;
  text-align: center;
}

.hero__button {
  margin: 0 auto;
}

.hero__button-icon {
  margin-right: 8px;
}
