.team-section {
  padding: 72px 0 42px 0;
  text-align: center;
  color: $textColorSecondary;
}

.team__gallery {
  display: flex;
  flex-wrap: wrap;
}

.team__gallery-item {
  padding-bottom: 8px;
  transform: scale(1);

  &:hover,
  &:focus-within {
    transform: scale(1.05);
    box-shadow: $boxShadow;
  }
  @include transitioned(all);
}

.team__gallery-item:not(:last-child) {
  margin-bottom: 22px;
}

.team__gallery-item:hover .team__member-socials__wrap,
.team__gallery-item:focus-within .team__member-socials__wrap {
  opacity: 1;
}

.team__member-thumb {
  position: relative;
  width: 100%;
  height: auto;
}

.member-socials {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.member-socials__item {
  margin: 10px;
  opacity: 1;
  color: $textColorPrimary;

  @include transitioned(opacity);
  &:hover,
  &:focus {
    opacity: 0.6;
  }
}

.member-socials__icon {
  fill: currentColor;
}

.team__member-socials__wrap {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(4, 4, 4, 0.5);
  opacity: 0;

  @include transitioned(opacity);
}

.team__gallery-photo {
  display: block;
  margin-bottom: 16px;
}

.team__member-name {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1.35;
}

.team__member-position {
  font-size: 16px;
  line-height: 1.38;
}

@media screen and (max-width: 767px) {
  .team-desc {
    margin-bottom: 63px;
  }
}

@media screen and (min-width: 768px) {
  .team-section {
    padding-top: 50px;
  }

  .team-desc {
    margin-bottom: 30px;
  }

  .team__member-name {
    font-size: 32px;
    line-height: 1;
  }

  .team__member-position {
    font-size: inherit;
    line-height: inherit;
  }

  .member-socials__item {
    margin: 7px;
  }

  .team__gallery {
    margin: -8px;
  }

  .team__gallery-item {
    margin: 8px;
    width: calc((100% - 16px * 3) / 3);
  }

  .team__gallery-item:not(:last-child) {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1360px) {
  .team-section {
    padding: 80px 0 80px;
  }

  .team__pretitle {
    font-size: 20px;
    line-height: 1.35;
  }

  .team-desc {
    margin-bottom: 36px;
  }

  .team__gallery {
    margin: -10px;
  }

  .team__gallery-item {
    margin-bottom: 0;
    margin: 10px;
    width: calc((100% - 20px * 3) / 3);
  }

  .team__gallery-photo {
    margin-bottom: 14px;
  }

  .team__member-name {
    font-size: 32px;
    line-height: 1;
  }

  .team__member-position {
    font-size: inherit;
    line-height: inherit;
  }

  .member-socials__item {
    margin: 17px;
  }
}
