.team-section {
  padding: 72px 0 50px 0;
  text-align: center;
  color: $textColorSecondary;
}

.team-desc {
  margin-bottom: 63px;
}

.team__gallery {
  display: flex;
  flex-wrap: wrap;
}

.team__gallery-item:not(:last-child) {
  margin-bottom: 30px;
}

.team__gallery-photo {
  display: block;
  margin-bottom: 16px;
}

.team__member-name {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1.35;
}

.team__member-position {
  font-size: 16px;
  line-height: 1.38;
}
